<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fs="http://xmlns.jcp.org/jsf/passthrough"> 
      
<h:body>
<ui:composition template="layouts/CommonLayout.xhtml">
	<ui:define name="title">Registration Menu</ui:define>
	<ui:define name="navigation-bar">
		<h4>Please make an account here.</h4>
	</ui:define>
	<ui:define name="content">
		<div align="center">
		<h4>Please make an account here.</h4>
			<h:form>
				<h:inputText value="#{user.firstName}" id="firstName" fs:placeholder="First Name"/>
				<div class="error-message"><h:message for="firstName"/></div><br/>
				<h:inputText value="#{user.lastName}" id="lastName" fs:placeholder="Last Name"/>
				<div class="error-message"><h:message for="lastName"/></div><br/>
				<h:inputText value="#{user.userName}" id="userName" fs:placeholder="User Name"/>
				<div class="error-message"><h:message for="userName"/></div><br/>
				<h:inputText value="#{user.email}" id="email" fs:placeholder="Email"/>
				<div class="error-message"><h:message for="email"/></div><br/>
				<h:inputText value="#{user.phoneNumber}" id="phoneNumber" fs:placeholder="Phone number"/>
				<div class="error-message"><h:message for="phoneNumber"/></div><br/>
				<h:inputSecret value="#{user.password}" id="password" fs:placeholder="Password"/>
				<div class="error-message"><h:message for="password"/></div><br/>
				<h:link value="Login" outcome="Login" id="login-button"/> 
				<h:commandButton action="#{userController.onRegister(user)}" value="Register" id="register-button" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</h:body>
</html>