<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<h:body> 
<ui:composition template="/layouts/commonLayout.xhtml">
	<ui:define name="title">Words</ui:define>
	<ui:define name="content">
<br/>
<div align="center">
	<h1>Key Observer</h1>
	<h:dataTable value="#{formController.service.orders}" var="o"
		styleClass="order-table"
		headerClass="order-table-header"
		rowClasses="order-table-odd-row,order-table-even-row">
		<h:column>
			<f:facet name="header">Id</f:facet>
			#{o.id}
		</h:column>
		<h:column>
			<f:facet name="header">Word Number</f:facet>
			#{o.wordNo}
		</h:column>
	<h:column>
		<f:facet name="header">Word Name</f:facet>
		#{o.wordName}
	</h:column>
	<h:column>
		<f:facet name="header">Quantity</f:facet>
		#{o.quantity}
	</h:column>
	<h:column>
		<f:facet name="update">Update</f:facet>
		<h:form><h:commandButton action="#{formController.onEdit(o.id)}" value="Edit" /></h:form>
		</h:column>
</h:dataTable>
<h:form>
	<h:commandButton value="Log Off" action="#{formController.onLogoff}" />
	<h:commandButton value="Add" action="#{formController.goToAddOrder}" />
</h:form>
</div>
	</ui:define>
</ui:composition>
</h:body> 
</html>
