<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<h:body> 
<ui:composition template="/layouts/commonLayout.xhtml">
	<ui:define name="title">Word Select</ui:define>
	<ui:define name="content">
<br/>
<div align="center">
	<h1>Word Select</h1>
	<h4>Please input a word you would like to track in order to continue</h4>
<h:form>
	Word input: <h:inputText value="#{order}" title="" /><br/>
	<h:commandButton value="Add Word" action="#{formController.goToAddOrder}" />
</h:form>
</div>
	</ui:define>
</ui:composition>
</h:body> 
</html>